<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Sloths page</title>
</head>
<body>
    <div class="container">
        <h1>What we know about <%= sloth.name %> ! </h1>
        <h4>Sloth Name: <%= sloth.name %></h4>
        <h4>Number of toes: <%= sloth.toes %></h4>
        <h4>Species: <%= sloth.species %></h4>
        <h4>Description: <%= sloth.description %></h4>
        <a href="/sloth/edit/<%= sloth._id %>" class = "button button-primary">Edit</a>
        <a href="/sloth/destroy/<%= sloth._id %>" class = "button button-primary">Delete</a>
    </div>
</body>
</html>