<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kitties</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <h2><%=cats.name%></h2> <br>
        <img src="<%=cats.img%>" alt="kitty_pic">
        <h4><%=cats.age%> years old.</h4>
        <h5><%=cats.fun_fact%></h5>
        <h4>Favourite foods:</h4>
        <% for (var x in cats.fav_foods) { %>
            <ul><li><%= cats.fav_foods[x] %></li></ul>
            <hr>
        <% } %>
    </div>    
</body>
</html>